NEXT_PUBLIC_API_URL=http://localhost:3001
TEST_API_KEY=
TEST_CLIENT_KEY=
CIRCLE_WALLET_SET_ID=
ARC_RPC_URL=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_EMAIL_API_TOKEN=
PROOF_PROCURE_EMAIL_FROM=login@proofprocure.com
